<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><ion-icon aria-hidden="true" name="partly-sunny-outline"></ion-icon> Weather</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Search bar with a button -->
  <div class="search-container">
    <ion-searchbar placeholder="Enter location" [(ngModel)]="searchQuery" animated="true" search-icon="location">
    </ion-searchbar>
    <ion-button (click)="onSearch()"> <ion-icon slot="icon-only" name="search"></ion-icon></ion-button>
  </div>

  <!-- Display location + coordinates, temperature, or error message -->
  <ion-card *ngIf="res?.main; else notFound">
    <ion-item>
      <div class="info-main">
        <h3 class="loc">{{ res.name }}, {{ res.sys.country }}</h3>
        <img src="assets/img/{{res.weather[0].icon}}.png" class="w-icon">
        <p class="main-w">{{ res.weather[0].main }}</p>
        <p class="main-temp">{{ convertTemp(res.main.temp) }}</p>
        <div class="temp-container">
          <p class="temp-side"><ion-icon name="arrow-up-outline"></ion-icon>{{ convertTemp(res.main.temp_max) }}</p>
          <p class="divider">|</p>
          <p class="temp-side"><ion-icon name="arrow-down-outline"></ion-icon>{{ convertTemp(res.main.temp_min) }}</p>
          <p class="divider">|</p>
          <p class="temp-side"><ion-icon name="body-outline"></ion-icon>{{ convertTemp(res.main.feels_like) }}</p>
        </div>
      </div>
    </ion-item>
    <ion-item class="add-info">
      <span>
        <h3>Additional info</h3>
        <p><b>Humidity:</b> {{ res.main.humidity }} % </p>
        <p><b>Pressure:</b> {{ res.main.pressure }} hPa </p>
        <p><b>Wind speed:</b> {{ res.wind.speed | number: '1.0-2' }} m/s </p>
        <p><b>Visibility:</b> {{ res.visibility }} m </p>
        <p><b>Sunrise:</b> {{ convertToLocalTime(res.sys.sunrise, res.timezone) }} </p>
        <p><b>Sunset:</b> {{ convertToLocalTime(res.sys.sunset, res.timezone) }} </p>
      </span>
    </ion-item>
  </ion-card>

  <!-- Template for "Location not found" -->
  <ng-template #notFound>
    <ion-card *ngIf="errorMessage" class="not-found">
      <ion-item>
        <span><ion-icon name="warning-outline"></ion-icon>{{ errorMessage }}</span>
      </ion-item>
    </ion-card>
  </ng-template>

  <!-- Loading spinner -->
  <ng-template [ngIf]="isLoading">
    <ion-item>
      <ion-spinner name="crescent"></ion-spinner>
    </ion-item>
  </ng-template>

</ion-content>